body{
    font-family: Arial, sans-serif;
    background-color:#eef5f9;
    color:#333;
    margin:0;
}


header{
    background:#065a82;
    color:white;
    padding:30px;
}

.header-content{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    gap: 8px;
}

header h1{
    margin:0;
}

.tagline{
    margin:0;
}


main{
    padding:16px;
}

section{
    background:white;
    padding:20px;
    margin-bottom:16px;
    border:1px solid #cccccc;
    border-radius:8px;
    box-shadow:0 3px 8px rgba(0,0,0,.15);
}

section:hover{
    transform:translateY(-4px);
    transition:.3s;
}

h2{
    color:#065a82;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#065a82;
    color:white;
}

th,td{
    border:1px solid #cccccc;
    padding:10px;
    text-align:left;
}


.skill-list{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-top:15px;
}

.skill-item{
    background:#21B0A7;
    color:white;
    padding:6px 16px;
    border-radius:20px;
    font-weight:bold;
}


ul{
    padding-left:20px;
}

li{
    margin-bottom:8px;
}


.highlight{
    background:#537878;
    border-left:5px solid #065a82;
    padding:12px;
    border-radius:5px;
    font-weight:bold;
}


footer{
    background:#065a82;
    color:white;
    text-align:center;
    padding:20px;
}

footer a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

footer a:hover{
    text-decoration:underline;
}


@media (min-width:768px){

    main{
        max-width:900px;
        margin:0 auto;
        padding:24px;
    }

    .header-content{
        flex-direction:row;
        justify-content:space-between;
        align-items:center;
    }

}

/* === Tombol Toggle === */
#btnToggle {
  margin-left: auto;
  padding: 8px 16px;
  border: 2px solid white;
  background: transparent;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

/* === Dark Mode === */
body.dark {
  background-color: #1a1a2e;
  color: #e0e0e0;
}

body.dark header {
  background-color: #0f3460;
}

body.dark section {
  background-color: #16213e;
  border-color: #444;
}

body.dark.skill-item {
  background-color: #e94560;
}